<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <div id="sidebar">
        {% block sidebar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">{% translate "Task manager" %}</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/users/">{% translate "Users" %}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/statuses/">{% translate "Statuses" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/labels/">{% translate "Labels" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/">{% translate "Tasks" %}</a>
                    </li>

                </ul>
                <ul class="navbar-nav">

                    <form action="/logout/" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                               value="O5gBu3C4BuKbl8wFe2Hg5R2frmjzQf04AlitI3dwXi2q62j849aDMYTxcxK8udXm">
                        <input class="btn nav-link" type="submit" value="{% translate 'Logout' %}">
                    </form>

                </ul>
            </div>
        </nav>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="container my-5 pt-4 border-top">
            <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
        </div>
    </footer>
</body>
</html>